.search,
.app-info-left {
  margin-left: auto;
  position: relative;
}

.search input {
  color: white;
  font-style: italic;
  letter-spacing: 0.8px;
  width: 170px;
}

.project-name a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.project-name a:hover {
  color: #c7c7c7;
  transition: 0.3s;
  cursor: pointer;
}

.app-info-after-input {
  display: inline-block;
  margin: 0 -15px 0 10px;
  transform: rotate(180deg);
}

.app-info-after-input button, .app-info-left button {
  color: white;
}
