.images-container {
  width: 80%;
  margin: 0 auto;
}

.images-grid {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 5%;
}

.images-grid img {
  width: 100%;
  margin-top: 10px;
}

.person-navbar {
  width: 85%;
  margin: 0 auto 20px auto;
  display: grid;
  background-color: #535353;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.person-navbar div {
  padding: 15px 0;
  text-align: center;
  transition: 0.1s;
  background-color: #535353;
  color: white;
}

.person-navbar div:hover {
  background-color: #c2c2c2;
  transition: 0.1s;
  cursor: pointer;
  color: #535353;
}

.person-navbar .selection-active {
  background-color: #2a2a2a;
}

.filmography, .tv{
  display: grid;
  grid-template-columns: 21.25% 21.25% 21.25% 21.25%;
  grid-column-gap: 5%;
  margin: 0 10%;
}

.circular-progress {
  text-align: center;
  align-content: center;
}

@media screen and (max-width: 650px) {
  .filmography, .tv {
    grid-template-columns: 30% 30% 30%;
  }
  .images-grid {
    grid-template-columns: 47.5% 47.5%;
  }
}

@media screen and (max-width: 400px) {
  .filmography, .tv {
    grid-template-columns: 47.5% 47.5%;
  }
}

.filmography-card, .tv-card {
  align-content: center;
  margin-top: 30px;
}

.filmography-card-post img, .tv-card-post img{
    width: 100%;
}

.filmography-card-content a, .tv-card-content a{
  display: block;
  margin-top: 4px;
  text-align: center;
  font-size: 0.9em;
  text-decoration: none;
  color: blue;
}

.filmography-card-content a:hover, .tv-card-content a:hover {
  text-decoration: underline;
}

.filmography-card-content, .tv-card-content {
  align-content: center;
}

.tv-heading {
  width: 80%;
  margin: 50px auto 0 auto;
}